.container{
    background-color: #ffff;
    max-width: 500px;
    max-height: 700px;
    padding: 50px 20px;
    width: 100%;
    width: 400px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}
.container-home{
    text-align: center;
    margin: 100px;
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:0 auto;
}
form input,form label{
    font-size: 16px;
    padding: 5px 5px;
   
}
form input{
    margin-bottom: 20px;
    border-radius: 5px;
}
form input:hover{
    border-color:rgb(35, 35, 76);
    border-radius: 8px;
}
.btn{
    background-color: rgb(7, 7, 14);
    padding: 5px 15px;
    color: #ffff;
    font-size: 18px;
    min-width: 150px;
    margin: 5px 5px;
    border-radius: 100px;
    transition: backgroundColor 1s;
}
.btn-container{
    margin: 10px auto ;

}
.btn:hover{
    background-color: #023047;
    cursor: pointer;
}

.btn-upload{
    
    height: 30px;
    margin-right: 3px;
    margin-top: 6px;
}
.h3{
    text-align: center;
    padding: 5px 5px;
}